# 가치투자

같은 업종 내에서 수준 비교하여 매수

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("/content/20190102_가치평가.csv")
df

        업종명  업종별평균PER  업종별평균PBR    PER   PBR  b_price  p_price
0      삼성전자      5.49      0.98   6.46  1.38    38750    78300
1    SK하이닉스      5.49      0.98   4.02  1.30    60600   131000
2     NAVER     24.80      2.10  22.18  4.08   118000   378500
3  삼성바이오로직스     89.40      4.62   0.00  6.22   374000   903000
4      LG화학      9.91      1.15  13.28  1.63   337000   615000

```
삼성전자, sk 하이닉스 - 전기전자
naver - 서비스업
삼성바이오로직스 - 의약품
LG화학 - 화학
```

## per, pbr 비교
둘 중 하나라도 평균보다 크면 매수

In [ ]:
df_s = df.loc[(df["업종별평균PER"]<=df["PER"]) | (df["업종별평균PBR"]<=df["PBR"])]
df_s

        업종명  업종별평균PER  업종별평균PBR    PER   PBR  b_price  p_price
0      삼성전자      5.49      0.98   6.46  1.38    38750    78300
1    SK하이닉스      5.49      0.98   4.02  1.30    60600   131000
2     NAVER     24.80      2.10  22.18  4.08   118000   378500
3  삼성바이오로직스     89.40      4.62   0.00  6.22   374000   903000
4      LG화학      9.91      1.15  13.28  1.63   337000   615000

In [ ]:
df_s["rate"] = ((df_s["p_price"]-df_s["b_price"]) / df_s["b_price"])*100
df_s

        업종명  업종별평균PER  업종별평균PBR    PER   PBR  b_price  p_price        rate
0      삼성전자      5.49      0.98   6.46  1.38    38750    78300  102.064516
1    SK하이닉스      5.49      0.98   4.02  1.30    60600   131000  116.171617
2     NAVER     24.80      2.10  22.18  4.08   118000   378500  220.762712
3  삼성바이오로직스     89.40      4.62   0.00  6.22   374000   903000  141.443850
4      LG화학      9.91      1.15  13.28  1.63   337000   615000   82.492582

## per, pbr 비교 2
둘 다  평균보다 크면 매수

In [ ]:
df_s2 = df.loc[(df["업종별평균PER"]<=df["PER"]) & (df["업종별평균PBR"]<=df["PBR"])]
df_s2

    업종명  업종별평균PER  업종별평균PBR    PER   PBR  b_price  p_price
0  삼성전자      5.49      0.98   6.46  1.38    38750    78300
4  LG화학      9.91      1.15  13.28  1.63   337000   615000

In [ ]:
df_s2["rate"] = ((df_s2["p_price"]-df_s2["b_price"]) / df_s2["b_price"])*100
df_s2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    업종명  업종별평균PER  업종별평균PBR    PER   PBR  b_price  p_price        rate
0  삼성전자      5.49      0.98   6.46  1.38    38750    78300  102.064516
4  LG화학      9.91      1.15  13.28  1.63   337000   615000   82.492582

# KOSPI.csv로 해보기

정보데이터시스템에서 가져온 csv파일

In [ ]:
KOSPI_each = pd.read_csv("/content/KOSPI_개별가치평가_19.csv", encoding = "cp949")
KOSPI_each

       종목코드       종목명      종가    대비   등락률  ...  선행 PER      BPS   PBR  주당배당금  배당수익률
0     95570   AJ네트웍스     4530    25  0.55  ...     NaN   6168.0  0.73     86   1.90
1     68400    AJ렌터카    12350    50  0.41  ...     NaN  11091.0  1.11      0   0.00
2      6840    AK홀딩스    51900 -2100 -3.89  ...     NaN  52954.0  0.98    650   1.25
3     27410      BGF     7960  -110 -1.36  ...     NaN  21952.0  0.36    200   2.51
4    282330   BGF리테일   205500  1500  0.74  ...     NaN  22486.0  9.14   1000   0.49
..      ...       ...     ...   ...   ...  ...     ...      ...   ...    ...    ...
876   69260      휴켐스    23400  -700 -2.90  ...     NaN  14210.0  1.65   1500   6.41
877     540     흥국화재     4795    90  1.91  ...     NaN   9658.0  0.50      0   0.00
878     547  흥국화재2우B    24250  -450 -1.82  ...     NaN      NaN   NaN      0   0.00
879     545    흥국화재우     5010  -240 -4.57  ...     NaN      NaN   NaN      0   0.00
880    3280     흥아해운      404     2  0.50  ...     NaN    854.0  0.47      0   0.00

[881 rows x 13 columns]

In [ ]:
KOSPI_each_21 =  pd.read_csv("/content/KOSPI_개별가치평가_21.csv", encoding = "cp949")
KOSPI_each_21

       종목코드       종목명      종가   대비   등락률  ...  선행 PER      BPS   PBR  주당배당금  배당수익률
0     95570   AJ네트웍스     5410  -50 -0.92  ...     NaN   6089.0  0.89    210   3.88
1      6840    AK홀딩스    19300 -100 -0.52  ...     NaN  50471.0  0.38    400   2.07
2     27410      BGF     5290  -20 -0.38  ...   38.95  15781.0  0.34    110   2.08
3    282330   BGF리테일   145500 -500 -0.34  ...   14.02  40317.0  3.61   2400   1.65
4    138930  BNK금융지주     8400    0  0.00  ...    3.13  26781.0  0.31    320   3.81
..      ...       ...     ...  ...   ...  ...     ...      ...   ...    ...    ...
910   69260      휴켐스    23150 -200 -0.86  ...     NaN  16351.0  1.42   1000   4.32
911     540     흥국화재     3600   25  0.70  ...     NaN  11107.0  0.32      0   0.00
912     547  흥국화재2우B    27700  250  0.91  ...     NaN      NaN   NaN      0   0.00
913     545    흥국화재우     8070   20  0.25  ...     NaN      NaN   NaN      0   0.00
914    3280     흥아해운     2700  -15 -0.55  ...     NaN      NaN   NaN      0   0.00

[915 rows x 13 columns]

In [ ]:
KOSPI_class = pd.read_csv("/content/KOSPI_업종별가치평가_19.csv", encoding = 'cp949')
KOSPI_class

                  지수명        종가      대비   등락률    PER  선행 PER   PBR  배당수익률
0                 코스피   2010.00  -31.04 -1.52   9.44       0  0.85   1.96
1             코스피 200    258.23   -3.75 -1.43   8.41       0  0.86   2.04
2             코스피 100   1950.90  -28.19 -1.42   8.14       0  0.85   2.11
3              코스피 50   1701.16  -22.06 -1.28   7.90       0  0.85   2.16
4        코스피 200 중소형주    962.78  -14.98 -1.53  13.68       0  1.06   1.23
5    코스피 200 초대형제외 지수    210.59   -4.16 -1.94  10.15       0  0.83   1.98
6   코스피 200 커뮤니케이션서비스   1587.51   -9.92 -0.62  15.21       0  1.41   1.72
7          코스피 200 건설    279.73   -6.63 -2.32   9.33       0  0.88   1.27
8         코스피 200 중공업    300.90   -8.18 -2.65   0.00       0  0.81   0.23
9       코스피 200 철강/소재    761.86  -16.76 -2.15  18.89       0  0.49   2.30
10     코스피 200 에너지/화학   1260.23  -44.01 -3.37   6.78       0  0.92   2.91
11       코스피 200 정보기술   1843.73  -20.59 -1.10   6.91       0  0.98   1.40
12         코스피 200 금융    693.53  -10.46 -1.49   6.64       0  0.54   3.60
13      코스피 200 생활소비재   1187.76  -28.96 -2.38  19.11       0  0.90   1.60
14      코스피 200 경기소비재   1280.97  -29.58 -2.26  14.30       0  0.64   2.26
15        코스피 200 산업재    485.31   -2.52 -0.52  18.77       0  1.13   1.46
16       코스피 200 헬스케어   2041.59  -39.85 -1.91  61.20       0  3.69   0.28
17               음식료품   3876.79  -83.22 -2.10  10.99       0  1.13   1.21
18               섬유의복    254.64    1.13  0.45   6.41       0  0.65   1.32
19               종이목재    356.64   -1.02 -0.29  16.11       0  0.61   1.53
20                 화학   4742.22 -132.71 -2.72   9.91       0  1.15   2.09
21                의약품  11338.89 -287.80 -2.48  89.40       0  4.62   0.19
22              비금속광물   1627.53  -33.52 -2.02  14.10       0  0.94   2.46
23               철강금속   3956.03  -87.09 -2.15  10.50       0  0.50   2.52
24                 기계    749.02  -16.12 -2.11  70.41       0  1.17   1.41
25               전기전자  14417.26  -29.76 -0.21   5.49       0  0.98   1.93
26               의료정밀   2109.50  -24.34 -1.14   5.22       0  1.11   0.78
27               운수장비   1385.61  -34.79 -2.45  51.34       0  0.53   1.77
28                유통업    385.70   -7.80 -1.98   9.30       0  0.84   1.47
29              전기가스업   1066.37   15.77  1.50   0.00       0  0.34   2.03
30                건설업    109.68   -2.92 -2.59  12.79       0  0.84   1.05
31              운수창고업   1327.64  -13.65 -1.02  25.71       0  1.07   1.03
32                통신업    403.76    5.77  1.45   8.89       0  0.92   2.94
33                금융업    424.16  -10.19 -2.35   7.42       0  0.62   2.94
34                 은행    293.89   -6.72 -2.24   5.51       0  0.42   4.14
35                 증권   1623.30  -52.25 -3.12   7.49       0  0.55   3.12
36                 보험  16051.95 -251.34 -1.54  10.41       0  0.66   3.21
37               서비스업   1065.35  -14.65 -1.36  24.80       0  2.10   1.25
38                제조업   4512.71  -66.91 -1.46   8.74       0  0.94   1.77
39            코스피 대형주   1927.84  -30.85 -1.58   8.78       0  0.86   2.07
40            코스피 중형주   2383.04  -40.73 -1.68  11.86       0  0.88   1.52
41            코스피 소형주   1862.65   -5.51 -0.29  23.60       0  0.67   1.45

## 개별 per, pbr
2019

In [ ]:
kospi_each = KOSPI_each[["종목코드","종목명","종가","PER","PBR"]]
kospi_each

       종목코드       종목명      종가     PER   PBR
0     95570   AJ네트웍스     4530   14.16  0.73
1     68400    AJ렌터카    12350   21.59  1.11
2      6840    AK홀딩스    51900    6.72  0.98
3     27410      BGF     7960    0.11  0.36
4    282330   BGF리테일   205500  126.93  9.14
..      ...       ...     ...     ...   ...
876   69260      휴켐스    23400    7.84  1.65
877     540     흥국화재     4795    3.90  0.50
878     547  흥국화재2우B    24250     NaN   NaN
879     545    흥국화재우     5010     NaN   NaN
880    3280     흥아해운      404     NaN  0.47

[881 rows x 5 columns]

## 개별 종가
2021

In [ ]:
kospi_each_21 = KOSPI_each_21[["종목코드","종목명","종가"]]
kospi_each_21

       종목코드       종목명      종가
0     95570   AJ네트웍스     5410
1      6840    AK홀딩스    19300
2     27410      BGF     5290
3    282330   BGF리테일   145500
4    138930  BNK금융지주     8400
..      ...       ...     ...
910   69260      휴켐스    23150
911     540     흥국화재     3600
912     547  흥국화재2우B    27700
913     545    흥국화재우     8070
914    3280     흥아해운     2700

[915 rows x 3 columns]

In [ ]:
# 2019년도 종가와 비교하기 위해 이름 재설정
kospi_each_21 = kospi_each_21.rename(columns={'종가':'종가_21'})
kospi_each_21

       종목코드       종목명   종가_21
0     95570   AJ네트웍스     5410
1      6840    AK홀딩스    19300
2     27410      BGF     5290
3    282330   BGF리테일   145500
4    138930  BNK금융지주     8400
..      ...       ...     ...
910   69260      휴켐스    23150
911     540     흥국화재     3600
912     547  흥국화재2우B    27700
913     545    흥국화재우     8070
914    3280     흥아해운     2700

[915 rows x 3 columns]

## 평균 per, pbr
2019

In [ ]:
kospi_class = KOSPI_class[["지수명","PER","PBR"]]
kospi_class

                  지수명    PER   PBR
0                 코스피   9.44  0.85
1             코스피 200   8.41  0.86
2             코스피 100   8.14  0.85
3              코스피 50   7.90  0.85
4        코스피 200 중소형주  13.68  1.06
5    코스피 200 초대형제외 지수  10.15  0.83
6   코스피 200 커뮤니케이션서비스  15.21  1.41
7          코스피 200 건설   9.33  0.88
8         코스피 200 중공업   0.00  0.81
9       코스피 200 철강/소재  18.89  0.49
10     코스피 200 에너지/화학   6.78  0.92
11       코스피 200 정보기술   6.91  0.98
12         코스피 200 금융   6.64  0.54
13      코스피 200 생활소비재  19.11  0.90
14      코스피 200 경기소비재  14.30  0.64
15        코스피 200 산업재  18.77  1.13
16       코스피 200 헬스케어  61.20  3.69
17               음식료품  10.99  1.13
18               섬유의복   6.41  0.65
19               종이목재  16.11  0.61
20                 화학   9.91  1.15
21                의약품  89.40  4.62
22              비금속광물  14.10  0.94
23               철강금속  10.50  0.50
24                 기계  70.41  1.17
25               전기전자   5.49  0.98
26               의료정밀   5.22  1.11
27               운수장비  51.34  0.53
28                유통업   9.30  0.84
29              전기가스업   0.00  0.34
30                건설업  12.79  0.84
31              운수창고업  25.71  1.07
32                통신업   8.89  0.92
33                금융업   7.42  0.62
34                 은행   5.51  0.42
35                 증권   7.49  0.55
36                 보험  10.41  0.66
37               서비스업  24.80  2.10
38                제조업   8.74  0.94
39            코스피 대형주   8.78  0.86
40            코스피 중형주  11.86  0.88
41            코스피 소형주  23.60  0.67

In [ ]:
# 2019년도 개별 데이터와 비교하기 위해 이름 재설정
kospi_class = kospi_class.rename(columns={'PER':'avr_PER','PBR':'avr_PBR'})
kospi_class

                  지수명  avr_PER  avr_PBR
0                 코스피     9.44     0.85
1             코스피 200     8.41     0.86
2             코스피 100     8.14     0.85
3              코스피 50     7.90     0.85
4        코스피 200 중소형주    13.68     1.06
5    코스피 200 초대형제외 지수    10.15     0.83
6   코스피 200 커뮤니케이션서비스    15.21     1.41
7          코스피 200 건설     9.33     0.88
8         코스피 200 중공업     0.00     0.81
9       코스피 200 철강/소재    18.89     0.49
10     코스피 200 에너지/화학     6.78     0.92
11       코스피 200 정보기술     6.91     0.98
12         코스피 200 금융     6.64     0.54
13      코스피 200 생활소비재    19.11     0.90
14      코스피 200 경기소비재    14.30     0.64
15        코스피 200 산업재    18.77     1.13
16       코스피 200 헬스케어    61.20     3.69
17               음식료품    10.99     1.13
18               섬유의복     6.41     0.65
19               종이목재    16.11     0.61
20                 화학     9.91     1.15
21                의약품    89.40     4.62
22              비금속광물    14.10     0.94
23               철강금속    10.50     0.50
24                 기계    70.41     1.17
25               전기전자     5.49     0.98
26               의료정밀     5.22     1.11
27               운수장비    51.34     0.53
28                유통업     9.30     0.84
29              전기가스업     0.00     0.34
30                건설업    12.79     0.84
31              운수창고업    25.71     1.07
32                통신업     8.89     0.92
33                금융업     7.42     0.62
34                 은행     5.51     0.42
35                 증권     7.49     0.55
36                 보험    10.41     0.66
37               서비스업    24.80     2.10
38                제조업     8.74     0.94
39            코스피 대형주     8.78     0.86
40            코스피 중형주    11.86     0.88
41            코스피 소형주    23.60     0.67

## 특정 종목 추출
삼성전자, SK하이닉스, NAVER, 삼성바이오로직스, LG화학

In [ ]:
# s1 = kospi_each["종목명"]=="삼성전자"
# s2 = kospi_each["종목명"]=="SK하이닉스"
# s3 = kospi_each["종목명"]=="NAVER"
# s4 = kospi_each["종목명"]=="삼성바이오로직스"
# s5 = kospi_each["종목명"]=="LG화학"

sample = kospi_each['종목코드'].isin(['5930', '660', '35420', '207940', '51910'])
sample

0      False
1      False
2      False
3      False
4      False
       ...
876    False
877    False
878    False
879    False
880    False
Name: 종목코드, Length: 881, dtype: bool

In [ ]:
kospi_each_sample = kospi_each.loc[sample]
kospi_each_sample

       종목코드        종목명      종가    PER   PBR
76    51910      LG화학   337000  13.28  1.63
84    35420     NAVER   118000  22.18  4.08
124     660    SK하이닉스    60600   4.02  1.30
390  207940  삼성바이오로직스   374000    NaN  6.22
396    5930      삼성전자    38750   6.46  1.38

In [ ]:
sample1 = kospi_each_21['종목코드'].isin(['5930', '660', '35420', '207940', '51910'])
sample1

0      False
1      False
2      False
3      False
4      False
       ...
910    False
911    False
912    False
913    False
914    False
Name: 종목코드, Length: 915, dtype: bool

In [ ]:
kospi_each_21_sample = kospi_each_21.loc[sample1]
kospi_each_21_sample

       종목코드        종목명   종가_21
86    51910      LG화학   615000
99    35420     NAVER   378500
143     660    SK하이닉스   131000
407  207940  삼성바이오로직스   903000
413    5930      삼성전자    78300

In [ ]:
sample2 = kospi_class['지수명'].isin(['전기전자', '서비스업', '의약품', '화학'])
sample2

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20     True
21     True
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37     True
38    False
39    False
40    False
41    False
Name: 지수명, dtype: bool

In [ ]:
kospi_class_sample = kospi_class.loc[sample2]
kospi_class_sample

     지수명  avr_PER  avr_PBR
20    화학     9.91     1.15
21   의약품    89.40     4.62
25  전기전자     5.49     0.98
37  서비스업    24.80     2.10

## 데이터 추가하기

In [ ]:
kospi_each_sample['지수명']=['화학','서비스업','전기전자','의약품','전기전자']
kospi_each_sample

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       종목코드        종목명      종가    PER   PBR   지수명
76    51910      LG화학   337000  13.28  1.63    화학
84    35420     NAVER   118000  22.18  4.08  서비스업
124     660    SK하이닉스    60600   4.02  1.30  전기전자
390  207940  삼성바이오로직스   374000    NaN  6.22   의약품
396    5930      삼성전자    38750   6.46  1.38  전기전자

In [ ]:
# 추출한 19년도 데이터와 업종별 평균 per,pbr 데이터 합치기
kospi_sample_final = pd.merge(kospi_each_sample,kospi_class_sample)
# 위 합친 데이터와 21년도 종가 데이터와 합치기
kospi_sample_final = pd.merge(kospi_sample_final, kospi_each_21_sample)
kospi_sample_final

     종목코드        종목명      종가    PER   PBR   지수명  avr_PER  avr_PBR   종가_21
0   51910      LG화학   337000  13.28  1.63    화학     9.91     1.15  615000
1   35420     NAVER   118000  22.18  4.08  서비스업    24.80     2.10  378500
2     660    SK하이닉스    60600   4.02  1.30  전기전자     5.49     0.98  131000
3    5930      삼성전자    38750   6.46  1.38  전기전자     5.49     0.98   78300
4  207940  삼성바이오로직스   374000    NaN  6.22   의약품    89.40     4.62  903000

## per, pbr 비교
둘 중 하나라도 평균보다 작으면 매수

In [ ]:
value_investment = kospi_sample_final.loc[(kospi_sample_final["avr_PER"]>=kospi_sample_final["PER"]) | (kospi_sample_final["avr_PBR"]>=kospi_sample_final["PBR"])]
value_investment

    종목코드      종목명      종가    PER   PBR   지수명  avr_PER  avr_PBR   종가_21
1  35420   NAVER   118000  22.18  4.08  서비스업    24.80     2.10  378500
2    660  SK하이닉스    60600   4.02  1.30  전기전자     5.49     0.98  131000

In [ ]:
# 수익률 컬럼 추가
value_investment["rate"] = ((value_investment["종가_21"]-value_investment["종가"]) / value_investment["종가"])*100
value_investment

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    종목코드      종목명      종가    PER  ...  avr_PER avr_PBR   종가_21        rate
1  35420   NAVER   118000  22.18  ...    24.80    2.10  378500  220.762712
2    660  SK하이닉스    60600   4.02  ...     5.49    0.98  131000  116.171617

[2 rows x 10 columns]

## per, pbr 비교 2
둘 다  평균보다 작으면 매수

In [ ]:
value_investment2 = kospi_sample_final.loc[(kospi_sample_final["avr_PER"]>=kospi_sample_final["PER"]) & (kospi_sample_final["avr_PBR"]>=kospi_sample_final["PBR"])]
value_investment2

Empty DataFrame
Columns: [종목코드, 종목명, 종가, PER, PBR, 지수명, avr_PER, avr_PBR, 종가_21]
Index: []

In [ ]:
# 수익률 컬럼 추가
value_investment2["rate"] = ((value_investment2["종가_21"]-value_investment2["종가"]) / value_investment2["종가"])*100
value_investment2

Empty DataFrame
Columns: [종목코드, 종목명, 종가, PER, PBR, 지수명, avr_PER, avr_PBR, 종가_21, rate]
Index: []

# 내재가치

```
내재가치 = (BPS + EPS * 10) / 2
* BPS: 최근 연도 BPS
* EPS: (최근 연도 EPS * 3) + (전년도 EPS * 2) + (전전년도 EPS * 1) / 6

BPS : 기업의 장부가액
EPS : 기업의 이익

```

<<이웃집 워런 버핏, 숙향의 투자일기>>

숙향은 은퇴를 앞둔 30년 내공의 직장인 투자자


 4년간 연평균 수익율 10.1%를 기록한 투자과정

```
* EPS에 10을 곱하는 이유는 이자율을 10%로 계산하기 때문입니다.
현재 이자율은 3%에도 미치지 못하므로 역수인 30배 이상을 적용해야 하지만,
현행 상속세법에 의하면 수익가치를 계산함에 있어 10%의 이자율을 적용합니다. 이자율보다는 정상적인 기업이라면 투자자본에 대해 10% 수익은 올린다는 개념으로 이해했습니다.

* 상속세법에서 비상장주식의 가치를 계산할 때는 BPS : EPS 비율을 2 : 3으로 적용합니다.
자산가치보다 수익가치에 비중을 더 두었다고 볼 수 있는데,
실제로 주가는 이익 변동에 가장 민감하게 움직인다는 점에서 더 타당해 보입니다.

* 저는 개인적으로 자산가치와 수익가치를 동등하게 놓고 싶어서 BPS : EPS 비율을 1 : 1로 적용하는데,
계산하기에 편리한 장점도 있습니다.
```

![image.png]()

보통 PBR이 1.0보다 작으면 주가가 청산가치 이하로 떨어진 것을 의미하므로 과소평가 되었다고 합니다.

-> 이걸 포함하면 특정 종목 하나도 해당 안함

그래서 무시하기로 함

## 2019 개별가치평가

In [ ]:
KOSPI_each = pd.read_csv("/content/KOSPI_개별가치평가_19.csv", encoding = "cp949")
KOSPI_each

       종목코드       종목명      종가    대비   등락률  ...  선행 PER      BPS   PBR  주당배당금  배당수익률
0     95570   AJ네트웍스     4530    25  0.55  ...     NaN   6168.0  0.73     86   1.90
1     68400    AJ렌터카    12350    50  0.41  ...     NaN  11091.0  1.11      0   0.00
2      6840    AK홀딩스    51900 -2100 -3.89  ...     NaN  52954.0  0.98    650   1.25
3     27410      BGF     7960  -110 -1.36  ...     NaN  21952.0  0.36    200   2.51
4    282330   BGF리테일   205500  1500  0.74  ...     NaN  22486.0  9.14   1000   0.49
..      ...       ...     ...   ...   ...  ...     ...      ...   ...    ...    ...
876   69260      휴켐스    23400  -700 -2.90  ...     NaN  14210.0  1.65   1500   6.41
877     540     흥국화재     4795    90  1.91  ...     NaN   9658.0  0.50      0   0.00
878     547  흥국화재2우B    24250  -450 -1.82  ...     NaN      NaN   NaN      0   0.00
879     545    흥국화재우     5010  -240 -4.57  ...     NaN      NaN   NaN      0   0.00
880    3280     흥아해운      404     2  0.50  ...     NaN    854.0  0.47      0   0.00

[881 rows x 13 columns]

In [ ]:
kospi_each = KOSPI_each.loc[:,["종목코드","종목명","종가","PER","PBR","EPS","BPS","배당수익률"]]
kospi_each

       종목코드       종목명      종가     PER   PBR      EPS      BPS  배당수익률
0     95570   AJ네트웍스     4530   14.16  0.73    320.0   6168.0   1.90
1     68400    AJ렌터카    12350   21.59  1.11    572.0  11091.0   0.00
2      6840    AK홀딩스    51900    6.72  0.98   7727.0  52954.0   1.25
3     27410      BGF     7960    0.11  0.36  74964.0  21952.0   2.51
4    282330   BGF리테일   205500  126.93  9.14   1619.0  22486.0   0.49
..      ...       ...     ...     ...   ...      ...      ...    ...
876   69260      휴켐스    23400    7.84  1.65   2985.0  14210.0   6.41
877     540     흥국화재     4795    3.90  0.50   1231.0   9658.0   0.00
878     547  흥국화재2우B    24250     NaN   NaN      NaN      NaN   0.00
879     545    흥국화재우     5010     NaN   NaN      NaN      NaN   0.00
880    3280     흥아해운      404     NaN  0.47      NaN    854.0   0.00

[881 rows x 8 columns]

In [ ]:
kospi_each["내재가치"] = (kospi_each["BPS"]+kospi_each["EPS"]*10) / 2
kospi_each

       종목코드       종목명      종가     PER   PBR      EPS      BPS  배당수익률      내재가치
0     95570   AJ네트웍스     4530   14.16  0.73    320.0   6168.0   1.90    4684.0
1     68400    AJ렌터카    12350   21.59  1.11    572.0  11091.0   0.00    8405.5
2      6840    AK홀딩스    51900    6.72  0.98   7727.0  52954.0   1.25   65112.0
3     27410      BGF     7960    0.11  0.36  74964.0  21952.0   2.51  385796.0
4    282330   BGF리테일   205500  126.93  9.14   1619.0  22486.0   0.49   19338.0
..      ...       ...     ...     ...   ...      ...      ...    ...       ...
876   69260      휴켐스    23400    7.84  1.65   2985.0  14210.0   6.41   22030.0
877     540     흥국화재     4795    3.90  0.50   1231.0   9658.0   0.00   10984.0
878     547  흥국화재2우B    24250     NaN   NaN      NaN      NaN   0.00       NaN
879     545    흥국화재우     5010     NaN   NaN      NaN      NaN   0.00       NaN
880    3280     흥아해운      404     NaN  0.47      NaN    854.0   0.00       NaN

[881 rows x 9 columns]

## 특정종목 추출

In [ ]:
sample3 = kospi_each['종목코드'].isin(['5930', '660', '35420', '207940', '51910'])
sample3

0      False
1      False
2      False
3      False
4      False
       ...
876    False
877    False
878    False
879    False
880    False
Name: 종목코드, Length: 881, dtype: bool

In [ ]:
kospi_each_sample = kospi_each.loc[sample3]
kospi_each_sample

       종목코드        종목명      종가    PER   PBR      EPS       BPS  배당수익률      내재가치
76    51910      LG화학   337000  13.28  1.63  25367.0  206544.0   1.78  230107.0
84    35420     NAVER   118000  22.18  4.08   5320.0   28936.0   0.24   41068.0
124     660    SK하이닉스    60600   4.02  1.30  15073.0   46449.0   1.65   98589.5
390  207940  삼성바이오로직스   374000    NaN  6.22      NaN   60099.0   0.00       NaN
396    5930      삼성전자    38750   6.46  1.38   5997.0   28126.0   2.19   44048.0

In [ ]:
kospi_each_sample_buy = kospi_each_sample.loc[kospi_each_sample["내재가치"]>kospi_each_sample["종가"]]
kospi_each_sample_buy

     종목코드      종목명     종가   PER   PBR      EPS      BPS  배당수익률     내재가치
124   660  SK하이닉스   60600  4.02  1.30  15073.0  46449.0   1.65  98589.5
396  5930    삼성전자   38750  6.46  1.38   5997.0  28126.0   2.19  44048.0

# 2021 개별가치데이터 추출

In [ ]:
KOSPI_each_21 = pd.read_csv("/content/KOSPI_개별가치평가_21.csv",encoding="cp949")
KOSPI_each_21

       종목코드       종목명      종가   대비   등락률  ...  선행 PER      BPS   PBR  주당배당금  배당수익률
0     95570   AJ네트웍스     5410  -50 -0.92  ...     NaN   6089.0  0.89    210   3.88
1      6840    AK홀딩스    19300 -100 -0.52  ...     NaN  50471.0  0.38    400   2.07
2     27410      BGF     5290  -20 -0.38  ...   38.95  15781.0  0.34    110   2.08
3    282330   BGF리테일   145500 -500 -0.34  ...   14.02  40317.0  3.61   2400   1.65
4    138930  BNK금융지주     8400    0  0.00  ...    3.13  26781.0  0.31    320   3.81
..      ...       ...     ...  ...   ...  ...     ...      ...   ...    ...    ...
910   69260      휴켐스    23150 -200 -0.86  ...     NaN  16351.0  1.42   1000   4.32
911     540     흥국화재     3600   25  0.70  ...     NaN  11107.0  0.32      0   0.00
912     547  흥국화재2우B    27700  250  0.91  ...     NaN      NaN   NaN      0   0.00
913     545    흥국화재우     8070   20  0.25  ...     NaN      NaN   NaN      0   0.00
914    3280     흥아해운     2700  -15 -0.55  ...     NaN      NaN   NaN      0   0.00

[915 rows x 13 columns]

In [ ]:
kospi_each_21 = KOSPI_each_21.loc[:,["종목코드","종목명","종가"]]
kospi_each_21

       종목코드       종목명      종가
0     95570   AJ네트웍스     5410
1      6840    AK홀딩스    19300
2     27410      BGF     5290
3    282330   BGF리테일   145500
4    138930  BNK금융지주     8400
..      ...       ...     ...
910   69260      휴켐스    23150
911     540     흥국화재     3600
912     547  흥국화재2우B    27700
913     545    흥국화재우     8070
914    3280     흥아해운     2700

[915 rows x 3 columns]

In [ ]:
sample4 = kospi_each_21['종목코드'].isin(['5930', '660', '35420', '207940', '51910'])
sample4

0      False
1      False
2      False
3      False
4      False
       ...
910    False
911    False
912    False
913    False
914    False
Name: 종목코드, Length: 915, dtype: bool

In [ ]:
kospi_each_21_sample = kospi_each_21.loc[sample4]
kospi_each_21_sample

       종목코드        종목명      종가
86    51910      LG화학   615000
99    35420     NAVER   378500
143     660    SK하이닉스   131000
407  207940  삼성바이오로직스   903000
413    5930      삼성전자    78300

In [ ]:
kospi_each_21_sample = kospi_each_21_sample.rename(columns={"종가":"종가_21"})
kospi_each_21_sample

       종목코드        종목명   종가_21
86    51910      LG화학   615000
99    35420     NAVER   378500
143     660    SK하이닉스   131000
407  207940  삼성바이오로직스   903000
413    5930      삼성전자    78300

## 데이터 합치기

2019 내재가치 + 2021 종가

In [ ]:
kospi_each_sample_buy

     종목코드      종목명     종가   PER   PBR      EPS      BPS  배당수익률     내재가치
124   660  SK하이닉스   60600  4.02  1.30  15073.0  46449.0   1.65  98589.5
396  5930    삼성전자   38750  6.46  1.38   5997.0  28126.0   2.19  44048.0

In [ ]:
value_investment = pd.merge(kospi_each_sample_buy , kospi_each_21_sample)
value_investment

   종목코드      종목명     종가   PER   PBR      EPS      BPS  배당수익률     내재가치   종가_21
0   660  SK하이닉스   60600  4.02  1.30  15073.0  46449.0   1.65  98589.5  131000
1  5930    삼성전자   38750  6.46  1.38   5997.0  28126.0   2.19  44048.0   78300

## 수익률

In [ ]:
value_investment["rate"] = ((value_investment["종가_21"]-value_investment["종가"]) / value_investment["종가"])*100
value_investment

   종목코드      종목명     종가   PER  ...  배당수익률     내재가치   종가_21        rate
0   660  SK하이닉스   60600  4.02  ...   1.65  98589.5  131000  116.171617
1  5930    삼성전자   38750  6.46  ...   2.19  44048.0   78300  102.064516

[2 rows x 11 columns]