In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('2018.txt',encoding='UTF-8')
data.head()
df=pd.DataFrame(data)
df

,기준년도,경찰서명,신고건수(전체),신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
0,2018,ETC,23194,6872,15162,1118,42,567,17523,3215,...,580,611,627,776,908,1221,1477,1859,2155,2377
1,2018,서울노원,2906,923,1869,114,0,87,2256,421,...,88,72,103,109,110,139,162,241,266,282
2,2018,서울방배,559,158,372,29,0,19,417,88,...,22,15,17,27,26,23,16,36,62,55
3,2018,서울중랑,2566,801,1657,108,0,103,1994,341,...,57,67,72,81,126,110,172,217,223,235
4,2018,대전중부,1417,444,890,82,1,18,1095,255,...,34,33,30,56,58,90,102,107,152,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,2018,인천미추홀,2091,679,1326,86,0,110,1797,163,...,47,56,54,68,103,115,128,164,201,206
273,2018,대전청,10,6,4,0,0,0,8,2,...,0,1,2,0,1,0,1,0,1,2
274,2018,산청,56,17,38,1,0,4,40,12,...,1,0,4,6,9,3,1,4,6,5
275,2018,함안,58,16,42,0,0,3,40,13,...,1,0,2,2,1,4,4,9,10,2
276,2018,제주청,4,2,2,0,0,0,4,0,...,0,0,0,0,0,0,0,0,0,1

In [3]:
df=df.drop(['기준년도'],axis=1)
df

,경찰서명,신고건수(전체),신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
0,ETC,23194,6872,15162,1118,42,567,17523,3215,403,...,580,611,627,776,908,1221,1477,1859,2155,2377
1,서울노원,2906,923,1869,114,0,87,2256,421,101,...,88,72,103,109,110,139,162,241,266,282
2,서울방배,559,158,372,29,0,19,417,88,23,...,22,15,17,27,26,23,16,36,62,55
3,서울중랑,2566,801,1657,108,0,103,1994,341,90,...,57,67,72,81,126,110,172,217,223,235
4,대전중부,1417,444,890,82,1,18,1095,255,26,...,34,33,30,56,58,90,102,107,152,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,인천미추홀,2091,679,1326,86,0,110,1797,163,9,...,47,56,54,68,103,115,128,164,201,206
273,대전청,10,6,4,0,0,0,8,2,0,...,0,1,2,0,1,0,1,0,1,2
274,산청,56,17,38,1,0,4,40,12,0,...,1,0,4,6,9,3,1,4,6,5
275,함안,58,16,42,0,0,3,40,13,0,...,1,0,2,2,1,4,4,9,10,2
276,제주청,4,2,2,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
df=df.set_index('경찰서명')
df

,신고건수(전체),신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
ETC,23194,6872,15162,1118,42,567,17523,3215,403,1486,...,580,611,627,776,908,1221,1477,1859,2155,2377
서울노원,2906,923,1869,114,0,87,2256,421,101,41,...,88,72,103,109,110,139,162,241,266,282
서울방배,559,158,372,29,0,19,417,88,23,12,...,22,15,17,27,26,23,16,36,62,55
서울중랑,2566,801,1657,108,0,103,1994,341,90,38,...,57,67,72,81,126,110,172,217,223,235
대전중부,1417,444,890,82,1,18,1095,255,26,23,...,34,33,30,56,58,90,102,107,152,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
인천미추홀,2091,679,1326,86,0,110,1797,163,9,12,...,47,56,54,68,103,115,128,164,201,206
대전청,10,6,4,0,0,0,8,2,0,0,...,0,1,2,0,1,0,1,0,1,2
산청,56,17,38,1,0,4,40,12,0,0,...,1,0,4,6,9,3,1,4,6,5
함안,58,16,42,0,0,3,40,13,0,2,...,1,0,2,2,1,4,4,9,10,2
제주청,4,2,2,0,0,0,4,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [14]:
df.to_csv('2018.csv',encoding='euc-kr')

In [15]:
# 2018 서울
seoul_18=df.loc[['서울강남',
'서울강동',
'서울강북',
'서울강서',
'서울관악',
'서울광진',
'서울구로',
'서울금천',
'서울남대문',
'서울노원',
'서울도봉',
'서울동대문',
'서울동작',
'서울마포',
'서울방배',
'서울서대문',
'서울서부',
'서울서초',
'서울성동',
'서울성북',
'서울송파',
'서울수서',
'서울양천',
'서울영등포',
'서울용산',
'서울은평',
'서울종로',
'서울종암',
'서울중랑',
'서울중부',
'서울청',
'서울혜화'
],:]
seoul_18
seoul_18.to_csv('18_seoul.csv',encoding='euc-kr')

In [16]:
# 2018 부산
busan_18=df.loc[['부산강서',
'부산금정',
'부산기장',
'부산남부',
'부산동래',
'부산동부',
'부산북부',
'부산사상',
'부산사하',
'부산서부',
'부산연제',
'부산영도',
'부산중부',
'부산진',
'부산청',
'부산해운대'
],:]
busan_18
busan_18.to_csv('18_busan.csv',encoding='euc-kr')

In [17]:
# 2018 대구
daegu_18=df.loc[['대구강북',
'대구남부',
'대구달서',
'대구달성',
'대구동부',
'대구북부',
'대구서부',
'대구성서',
'대구수성',
'대구중부',
'대구청'
],:]
daegu_18
daegu_18.to_csv('18_daegu.csv',encoding='euc-kr')

In [18]:
# 2018 인천
incheon_18=df.loc[['인천강화',
'인천계양',
'인천국제공항경찰단',
'인천남동',
'인천논현',
'인천미추홀',
'인천부평',
'인천삼산',
'인천서부',
'인천연수',
'인천중부',
'인천청'
],:]
incheon_18
incheon_18.to_csv('18_incheon.csv',encoding='euc-kr')

In [19]:
# 2018 광주
gwangju_18=df.loc[['광주',
'광주광산',
'광주남부',
'광주동부',
'광주북부',
'광주서부',
'광주청'
],:]
gwangju_18
gwangju_18.to_csv('18_gwangju.csv',encoding='euc-kr')

In [20]:
# 2018 대전
daejeon_18=df.loc[['대전대덕',
'대전동부',
'대전둔산',
'대전서부',
'대전유성',
'대전중부',
'대전청'
],:]
daejeon_18
daejeon_18.to_csv('18_daejeon.csv',encoding='euc-kr')

In [21]:
# 2018 울산
ulsan_18=df.loc[['울산남부',
'울산동부',
'울산울주',
'울산중부',
'울산청'
],:]
ulsan_18
ulsan_18.to_csv('18_ulsan.csv',encoding='euc-kr')

In [22]:
# 2018 경기
gyeonggi_18=df.loc[['가평',
'경기남부청',
'경기북부청',
'고양',
'과천',
'광명',
'구리',
'군포',
'김포',
'남양주',
'동두천',
'부천소사',
'부천오정',
'부천원미',
'분당',
'성남수정',
'성남중원',
'수원남부',
'수원서부',
'수원중부',
'시흥',
'안산단원',
'안산상록',
'안성',
'안양동안',
'안양만안',
'양주',
'양평',
'여주',
'연천',
'오산',
'용인동부',
'용인서부',
'의왕',
'의정부',
'이천',
'일산동부',
'일산서부',
'파주',
'평택',
'포천',
'하남',
'화성동탄',
'화성서부',
],:]
gyeonggi_18
gyeonggi_18.to_csv('18_gyeonggi.csv',encoding='euc-kr')

In [23]:
# 2018 강원
gangwon_18=df.loc[['강릉',
'강원도고성',
'강원청',
'동해',
'삼척',
'속초',
'양구',
'영월',
'원주',
'인제',
'정선',
'철원',
'춘천',
'태백',
'평창',
'홍천',
'화천',
'횡성'
],:]
gangwon_18
gangwon_18.to_csv('18_gangwon.csv',encoding='euc-kr')

In [24]:
# 2018 충북
chungbuk_18=df.loc[['괴산',
'단양',
'보은',
'영동',
'옥천',
'음성',
'제천',
'진천',
'청주상당',
'청주청원',
'청주흥덕',
'충북청',
'충주'
],:]
chungbuk_18
chungbuk_18.to_csv('18_chungbuk.csv',encoding='euc-kr')

In [25]:
# 2018 충남
chungnam_18=df.loc[['공주',
'금산',
'논산',
'당진',
'보령',
'부여',
'서산',
'서천',
'아산',
'예산',
'천안동남',
'천안서북',
'청양',
'충남청',
'태안',
'홍성'
],:]
chungnam_18
chungnam_18.to_csv('18_chungnam.csv',encoding='euc-kr')

In [26]:
# 2018 전북
jeonbuk_18=df.loc[['고창',
'군산',
'김제',
'남원',
'무주',
'부안',
'순창',
'완주',
'익산',
'임실',
'장수',
'전북청',
'전주덕진',
'전주완산',
'정읍',
'진안'
],:]
jeonbuk_18
jeonbuk_18.to_csv('18_jeonbuk.csv',encoding='euc-kr')

In [27]:
# 2018 전남
jeonnam_18=df.loc[['강진',
'고흥',
'곡성',
'광양',
'구례',
'나주',
'담양',
'목포',
'무안',
'보성',
'순천',
'여수',
'영광',
'영암',
'완도',
'장성',
'장흥',
'전남청',
'진도',
'해남',
'화순'
],:]
jeonnam_18
jeonnam_18.to_csv('18_jeonnam.csv',encoding='euc-kr')

In [28]:
# 2018 경북
gyeongbuk_18=df.loc[['경북청',
'경산',
'경주',
'고령',
'구미',
'군위',
'김천',
'문경',
'봉화',
'상주',
'성주',
'안동',
'영덕',
'영양',
'영주',
'영천',
'예천',
'울릉',
'울진',
'의성',
'청도',
'청송',
'칠곡',
'포항남부',
'포항북부'
],:]
gyeongbuk_18
gyeongbuk_18.to_csv('18_gyeongbuk.csv',encoding='euc-kr')

In [29]:
# 2018 경남
gyeongnam_18=df.loc[['거제',
'거창',
'경남청',
'경상남도고성',
'김해서부',
'김해중부',
'남해',
'마산동부',
'마산중부',
'밀양',
'사천',
'산청',
'양산',
'의령',
'진주',
'진해',
'창녕',
'창원서부',
'창원중부',
'통영',
'하동',
'함안',
'함양',
'함평',
'합천'
],:]
gyeongnam_18
gyeongnam_18.to_csv('18_gyeongnam.csv',encoding='euc-kr')

In [30]:
# 2018 제주
jeju_18=df.loc[['서귀포',
'제주동부',
'제주서부',
'제주자치경찰단',
'제주청'
],:]
jeju_18
jeju_18.to_csv('18_jeju.csv',encoding='euc-kr')