In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('2019.txt',encoding='UTF-8')
data.head()
df=pd.DataFrame(data)
df

,기준년도,경찰서명,신고건수(전체),신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
0,2019,서울중랑,2511,784,1581,145,1,108,1958,343,...,66,66,69,79,127,109,157,222,257,227
1,2019,서울노원,2907,893,1876,138,0,109,2321,338,...,85,71,82,103,119,158,199,213,255,302
2,2019,서울방배,432,104,316,12,0,18,339,51,...,16,11,12,14,14,15,14,30,31,41
3,2019,부산해운대,1823,500,1260,63,0,73,1486,204,...,48,48,41,66,87,100,107,127,173,162
4,2019,대구성서,1403,424,900,79,0,29,1027,326,...,41,34,44,52,46,73,88,122,146,137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,2019,함안,101,33,64,4,0,9,67,20,...,5,7,3,4,5,10,9,6,8,6
273,2019,산청,59,25,26,8,0,2,41,15,...,2,0,2,2,2,2,3,2,4,10
274,2019,대전청,8,3,5,0,0,1,6,1,...,0,0,1,1,0,1,1,0,1,0
275,2019,장수,26,8,18,0,0,0,19,7,...,1,1,1,2,0,0,2,7,2,3
276,2019,제주청,6,4,2,0,0,0,4,1,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df=df.drop(['기준년도'],axis=1)
df

,경찰서명,신고건수(전체),신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
0,서울중랑,2511,784,1581,145,1,108,1958,343,80,...,66,66,69,79,127,109,157,222,257,227
1,서울노원,2907,893,1876,138,0,109,2321,338,104,...,85,71,82,103,119,158,199,213,255,302
2,서울방배,432,104,316,12,0,18,339,51,16,...,16,11,12,14,14,15,14,30,31,41
3,부산해운대,1823,500,1260,63,0,73,1486,204,36,...,48,48,41,66,87,100,107,127,173,162
4,대구성서,1403,424,900,79,0,29,1027,326,9,...,41,34,44,52,46,73,88,122,146,137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,함안,101,33,64,4,0,9,67,20,2,...,5,7,3,4,5,10,9,6,8,6
273,산청,59,25,26,8,0,2,41,15,1,...,2,0,2,2,2,2,3,2,4,10
274,대전청,8,3,5,0,0,1,6,1,0,...,0,0,1,1,0,1,1,0,1,0
275,장수,26,8,18,0,0,0,19,7,0,...,1,1,1,2,0,0,2,7,2,3
276,제주청,6,4,2,0,0,0,4,1,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df=df.set_index('경찰서명')
df

,신고건수(전체),신고성별(남자),신고성별(여자),신고성별(불상),신고 성별(기타),접수긴급유형(긴급),접수긴급유형(중요),접수긴급유형(일반),접수긴급유형(민원),접수긴급유형(기타),...,발생시간대(14),발생시간대(15),발생시간대(16),발생시간대(17),발생시간대(18),발생시간대(19),발생시간대(20),발생시간대(21),발생시간대(22),발생시간대(23)
경찰서명,,,,,,,,,,,,,,,,,,,,,
서울중랑,2511,784,1581,145,1,108,1958,343,80,22,...,66,66,69,79,127,109,157,222,257,227
서울노원,2907,893,1876,138,0,109,2321,338,104,35,...,85,71,82,103,119,158,199,213,255,302
서울방배,432,104,316,12,0,18,339,51,16,8,...,16,11,12,14,14,15,14,30,31,41
부산해운대,1823,500,1260,63,0,73,1486,204,36,24,...,48,48,41,66,87,100,107,127,173,162
대구성서,1403,424,900,79,0,29,1027,326,9,12,...,41,34,44,52,46,73,88,122,146,137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
함안,101,33,64,4,0,9,67,20,2,3,...,5,7,3,4,5,10,9,6,8,6
산청,59,25,26,8,0,2,41,15,1,0,...,2,0,2,2,2,2,3,2,4,10
대전청,8,3,5,0,0,1,6,1,0,0,...,0,0,1,1,0,1,1,0,1,0
장수,26,8,18,0,0,0,19,7,0,0,...,1,1,1,2,0,0,2,7,2,3
제주청,6,4,2,0,0,0,4,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.to_csv('2019.csv',encoding='euc-kr')

In [6]:
# 2019 서울
seoul_19=df.loc[['서울강남',
'서울강동',
'서울강북',
'서울강서',
'서울관악',
'서울광진',
'서울구로',
'서울금천',
'서울남대문',
'서울노원',
'서울도봉',
'서울동대문',
'서울동작',
'서울마포',
'서울방배',
'서울서대문',
'서울서부',
'서울서초',
'서울성동',
'서울성북',
'서울송파',
'서울수서',
'서울양천',
'서울영등포',
'서울용산',
'서울은평',
'서울종로',
'서울종암',
'서울중랑',
'서울중부',
'서울청',
'서울혜화'
],:]
seoul_19
seoul_19.to_csv('19_seoul.csv',encoding='euc-kr')

In [7]:
# 2019 부산
busan_19=df.loc[['부산강서',
'부산금정',
'부산기장',
'부산남부',
'부산동래',
'부산동부',
'부산북부',
'부산사상',
'부산사하',
'부산서부',
'부산연제',
'부산영도',
'부산중부',
'부산진',
'부산청',
'부산해운대'
],:]
busan_19
busan_19.to_csv('19_busan.csv',encoding='euc-kr')

In [8]:
# 2019 대구
daegu_19=df.loc[['대구강북',
'대구남부',
'대구달서',
'대구달성',
'대구동부',
'대구북부',
'대구서부',
'대구성서',
'대구수성',
'대구중부',
'대구청'
],:]
daegu_19
daegu_19.to_csv('19_daegu.csv',encoding='euc-kr')

In [9]:
# 2019 인천
incheon_19=df.loc[['인천강화',
'인천계양',
'인천국제공항경찰단',
'인천남동',
'인천논현',
'인천미추홀',
'인천부평',
'인천삼산',
'인천서부',
'인천연수',
'인천중부',
'인천청'
],:]
incheon_19
incheon_19.to_csv('19_incheon.csv',encoding='euc-kr')

In [10]:
# 2019 광주
gwangju_19=df.loc[['광주',
'광주광산',
'광주남부',
'광주동부',
'광주북부',
'광주서부',
'광주청'
],:]
gwangju_19
gwangju_19.to_csv('19_gwangju.csv',encoding='euc-kr')

In [11]:
# 2019 대전
daejeon_19=df.loc[['대전대덕',
'대전동부',
'대전둔산',
'대전서부',
'대전유성',
'대전중부',
'대전청'
],:]
daejeon_19
daejeon_19.to_csv('19_daejeon.csv',encoding='euc-kr')

In [12]:
# 2019 울산
ulsan_19=df.loc[['울산남부',
'울산동부',
'울산울주',
'울산중부',
'울산청'
],:]
ulsan_19
ulsan_19.to_csv('19_ulsan.csv',encoding='euc-kr')

In [13]:
# 2019 경기
gyeonggi_19=df.loc[['가평',
'경기남부청',
'경기북부청',
'고양',
'과천',
'광명',
'구리',
'군포',
'김포',
'남양주',
'동두천',
'부천소사',
'부천오정',
'부천원미',
'분당',
'성남수정',
'성남중원',
'수원남부',
'수원서부',
'수원중부',
'시흥',
'안산단원',
'안산상록',
'안성',
'안양동안',
'안양만안',
'양주',
'양평',
'여주',
'연천',
'오산',
'용인동부',
'용인서부',
'의왕',
'의정부',
'이천',
'일산동부',
'일산서부',
'파주',
'평택',
'포천',
'하남',
'화성동탄',
'화성서부',
],:]
gyeonggi_19
gyeonggi_19.to_csv('19_gyeonggi.csv',encoding='euc-kr')

In [14]:
# 2019 강원
gangwon_19=df.loc[['강릉',
'강원도고성',
'강원청',
'동해',
'삼척',
'속초',
'양구',
'영월',
'원주',
'인제',
'정선',
'철원',
'춘천',
'태백',
'평창',
'홍천',
'화천',
'횡성'
],:]
gangwon_19
gangwon_19.to_csv('19_gangwon.csv',encoding='euc-kr')

In [15]:
# 2019 충북
chungbuk_19=df.loc[['괴산',
'단양',
'보은',
'영동',
'옥천',
'음성',
'제천',
'진천',
'청주상당',
'청주청원',
'청주흥덕',
'충북청',
'충주'
],:]
chungbuk_19
chungbuk_19.to_csv('19_chungbuk.csv',encoding='euc-kr')

In [16]:
# 2019 충남
chungnam_19=df.loc[['공주',
'금산',
'논산',
'당진',
'보령',
'부여',
'서산',
'서천',
'아산',
'예산',
'천안동남',
'천안서북',
'청양',
'충남청',
'태안',
'홍성'
],:]
chungnam_19
chungnam_19.to_csv('19_chungnam.csv',encoding='euc-kr')

In [17]:
# 2019 전북
jeonbuk_19=df.loc[['고창',
'군산',
'김제',
'남원',
'무주',
'부안',
'순창',
'완주',
'익산',
'임실',
'장수',
'전북청',
'전주덕진',
'전주완산',
'정읍',
'진안'
],:]
jeonbuk_19
jeonbuk_19.to_csv('19_jeonbuk.csv',encoding='euc-kr')

In [18]:
# 2019 전남
jeonnam_19=df.loc[['강진',
'고흥',
'곡성',
'광양',
'구례',
'나주',
'담양',
'목포',
'무안',
'보성',
'순천',
'여수',
'영광',
'영암',
'완도',
'장성',
'장흥',
'전남청',
'진도',
'해남',
'화순'
],:]
jeonnam_19
jeonnam_19.to_csv('19_jeonnam.csv',encoding='euc-kr')

In [19]:
# 2019 경북
gyeongbuk_19=df.loc[['경북청',
'경산',
'경주',
'고령',
'구미',
'군위',
'김천',
'문경',
'봉화',
'상주',
'성주',
'안동',
'영덕',
'영양',
'영주',
'영천',
'예천',
'울릉',
'울진',
'의성',
'청도',
'청송',
'칠곡',
'포항남부',
'포항북부'
],:]
gyeongbuk_19
gyeongbuk_19.to_csv('19_gyeongbuk.csv',encoding='euc-kr')

In [20]:
# 2019 경남
gyeongnam_19=df.loc[['거제',
'거창',
'경남청',
'경상남도고성',
'김해서부',
'김해중부',
'남해',
'마산동부',
'마산중부',
'밀양',
'사천',
'산청',
'양산',
'의령',
'진주',
'진해',
'창녕',
'창원서부',
'창원중부',
'통영',
'하동',
'함안',
'함양',
'함평',
'합천'
],:]
gyeongnam_19
gyeongnam_19.to_csv('19_gyeongnam.csv',encoding='euc-kr')

In [21]:
# 2019 제주
jeju_19=df.loc[['서귀포',
'제주동부',
'제주서부',
'제주자치경찰단',
'제주청'
],:]
jeju_19
jeju_19.to_csv('19_jeju.csv',encoding='euc-kr')